
.Convertor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #33495f;
}

.Convertor__input , .Convertor__result {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: bold;
}

.Convertor__input {
  text-align: center;
}

.Convertor__result {
  background-color: #00000044;
  color: #ffffff;
}